header {
    color: red;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../src/imgs/1.jpg");
    background-size: 120%;
    background-position-x: center;
    background-position-y: center;
    transition: all 0.3s;
}

body {
    /* background-color: rgb(147, 149, 151); */
}

.aside {
    padding: 0;
}

.header .title {
    color: rgb(245, 223, 77);
    font-size: 6rem;
    text-align: center;
    transform: translateY(50%);
}

